
<p  ></p>
<button>hello1</button>
<button>hello2</button>
<hr>
name: <input type="text" #t1 [(ngModel)]="userInfo.name"><br>
phone number: <input type="number" name="" id="" [(ngModel)]="userInfo.phone">
<br>gender: Male<input type="radio" name="r1" value="male" #r1 [(ngModel)]="userInfo.gender">
Female : <input type="radio" name="r1" value="Female" #r2 [(ngModel)]="userInfo.gender">
<hr> <h1>result</h1><hr>
<span>name : {{userInfo.name}} ,,,  gender = {{userInfo.gender}}   {{userInfo.phone}}</span>


